.game {
    & .container {
        position: relative;
    }

    & .score {
        width: fit-content;
        margin: 0 auto var(--space);
        font-size: var(--large);
        font-weight: bold;
        color: transparent;
        background-clip: text;
        background-image: var(--exp);
    }

    & .email {
        margin: auto;
        padding: var(--space);
        background: #eee;
        border-radius: var(--radius);
        max-width: 700px;

        &>*:not(:last-child) {
            margin-bottom: var(--space);
        }

        & .info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: calc(var(--space) / 2);
            background: #ddd;
            width: fit-content;
            padding: 20px;
            border-radius: var(--radius);

            & div {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #777;
                border-radius: 50%;
                font-size: var(--regular);
                color: #fff;
                width: 50px;
                height: 50px;
            }
        }

        & h3,
        .body {
            font-size: var(--regular);

            & a {
                position: relative;
                color: #00f;
                pointer-events: none;

                &:before {
                    content: "*";
                }

                &:after {
                    content: "*" attr(href);
                    display: block;
                    direction: ltr;
                    background: #ddd;
                    width: fit-content;
                    border-radius: var(--radius);
                    padding: calc(var(--space) / 2);
                    margin-block: 10px;
                }
            }
        }
    }

    & .answer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: var(--space);
        margin-top: var(--space);
        padding: var(--space);

        & label {
            width: 200px;
            text-align: center;
            background: #1fa2ff;
            color: #fff;
            font-size: x-large;
            padding-block: var(--space);
            border-radius: 50px;
            transition: var(--trans);
            cursor: pointer; /* new */

            &+input:checked,
            input:disabled {
                filter: brightness(70%);
            }
        }
    }

    & .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #fff;
        padding: var(--space);
        animation: fade var(--trans) ease forwards;

        & h1 {
            font-size: var(--large);
            text-align: center;
            margin-bottom: var(--space);
        }

        & .card {
            padding: var(--space);
            background: #eee;
            border-radius: var(--radius);

            &>*:not(:last-child) {
                margin-bottom: var(--space);
            }
        }
    }

    & .explain {
        & .lvl {
            font-size: var(--regular);
            font-weight: bold;
        }

        & a {
            pointer-events: none;
        }

        & button,
        .exit {
            background: #1fa2ff;
            color: #fff;
            font-size: medium;
            padding: 5px 20px;
            border-radius: 20px;
            transition: var(--trans);
            cursor: pointer; /* new */

            &:active,
            &:disabled {
                filter: brightness(70%);
            }

            &:disabled {
                cursor: not-allowed;
            }
        }

        & .exit {
            pointer-events: all;
            margin-right: 10px;
            text-decoration: none;
        }

        &.win {
            background: #9e9;
            /* background-image: url(https://cdn.pixabay.com/animation/2023/08/17/08/51/08-51-41-992_512.gif);
            background-size: cover; */

            & h1 {
                color: #080;
            }

            & .card {
                background: #080;
                color: #fff;
            }
        }

        &.lose {
            background: #f00;

            & h1 {
                color: #8b0000;
            }

            & .card {
                background: #8b0000;
                color: #fff;
            }
        }
    }
}